body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.left {
    background-color:black;
}


.right {
}

.prodImg {
    width: 100%;
    padding-top: 10px;
    height: auto;
}

img.prodListImg {
    width: 80%;
}

.prodListBox {
    text-align: center;
    margin-bottom: 25px;
}

.prodListBox h3 {
    height: 50px;
}

.prodListBox a {
    color: white;
}
.prodListPrice {
    font-size:26px;
}
.cart {
    height: 300px;
    width: 100%;
    text-align: center;
}

.thumbImg {
    width: 25%;
    text-align: center;
}

.col-xs-8.quantInCart {
    padding: 0;
}

.col-xs-4.plusMinusBox {
    padding: 0;
}


.thumbGallery {
    margin: 10px 0 10px 0;
}

.checkOutRow {
    margin-bottom: 10px;
}

label.control-label.col-sm-2 {
    text-align: right;
}