
@{
    ViewBag.Title = "ContactComplete";
}

<div class="row" style="margin-top:20px;">
    <h2>Thank You for submitting your message!</h2>
</div>
<div class="row">@Html.ActionLink("Back to shopping", "Products","Product")</div>

