@model Store.Models.ForgotPasswordModel

@{
    ViewBag.Title = "ForgotPassword";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "loginForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "bg-danger" })

<fieldset>
    <legend style="margin-left:5px;">Forgot Password</legend>
    <div class="row">
        <div class="form-group loginBox">
            <div class="logInput">
                @Html.TextBoxFor(x => x.nameOrEmail, new { @class = "form-control", @placeholder = "Username" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="loginSubmit">
            <div class="logInput">
                <input type="submit" value="Submit" />
            </div>
        </div>
    </div>
</fieldset>
}



