@{
    bool result = WebSecurity.IsAuthenticated;
}

@if(result)
{
    <div class="row">
        <div class="col-xs-12">    
                <h3>Welcome, @WebSecurity.CurrentUserName <small>@Html.ActionLink("Logout", "Logout", "Account")</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            @Html.ActionLink("Change Password", "ChangePassword", "Account")
        </div>
    </div>
}