
<div class="regComplete">
    <h2>Success!</h2>
    <div class="bg-info">
        <p>And email has been sent to you with a link to confirm your account.  Please check your inbox for details.</p>
    </div>
</div>
