@model Store.Models.ResetModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "loginForm" }))
    {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "bg-danger" })
        <fieldset>
            <div class="row">
                <div class="form-group loginBox">
                    <div class="logInput">
                        <input type="password" name="newPass"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group loginBox">
                    <div class="logInput">
                        <input type="password" name="confirmPass" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="loginSubmit">
                    <div class="logInput">
                        <input type="submit" value="ResetPassword" />
                    </div>
                </div>
            </div>
        </fieldset>
    }