html{
        font-family: 'Lato', sans-serif;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.left {
    background-color:black;
}


.right {
}

.prodImg {
    width: 100%;
    padding-top: 10px;
    height: auto;
}

img.prodListImg {
    width: 80%;
}

.prodListBox {
    text-align: center;
    margin-bottom: 25px;
}

.prodListBox h3 {
    height: 50px;
}

.prodListBox a {
    color: white;
}
.prodListPrice {
    font-size:20px;
}
.prodBoxItemName {
    font-size: 18px;
    line-height: 1.25;
    height: 64px;
}
.cart {
    height: 300px;
    width: 100%;
    text-align: center;
}

.thumbImg {
    width: 25%;
    text-align: center;
}

.col-xs-8.quantInCart {
    padding: 0;
}

.col-xs-4.plusMinusBox {
    padding: 0;
}


.thumbGallery {
    margin: 10px 0 10px 0;
}

.checkOutRow {
    margin-bottom: 10px;
}

label.control-label.col-sm-2 {
    text-align: right;
}

ul.currentUser {
    color: white;
    font-size: 20px;
    float:right;
}
ul.currentUser li a {
    color: white;
    font-size:14px;
}
li.cU {
    margin-top: 10px;
}
.loginForm input {
    width: 80%;
    margin: 0 auto;
    border-radius: 0px;
}
.loginSubmit input[type="submit"] {
    margin-top: 10px;
    width: 80%;
    margin: 0 auto;
    height: 30px;
}

.loginForm {
    background-color: white;
    margin: 60px auto;
    width: 300px;
    border: 1px solid lightgray;
    padding: 15px 0px 15px 0px;
    box-shadow: 2px 2px 10px #ffe6e6;
}

.logInput {
    text-align:center;
}

.forgotPassLink {
    text-align: center;
}

.links {
    margin-top: 10px
}

.item {
    background-color:white;
}

.carousel {
    margin-top: 20px;
}
.carousel-inner > .item > a > img {
    width: 50%;
    margin: 0 auto;
}

div#carousel-example-generic {
    width: 80%;
    margin: 25px auto;
}

.navbar-inverse {
    background-color: #070b7f;
    border-color: #001e8a;
    box-shadow: 1px 2px 6px #949090;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.sideMenu {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
    font-size: 20px;
    line-height: 2;
}
.sideMenu li a {
    text-decoration: none;
}
.singleImage {
    width:80%;
    margin-top:30px;
}
.descriptionBox {
    background-color: #f1f1f1;
    padding: 6px 6px 25px 6px;
}
ul.sideMenu a {
    color: #333333;
}
.customInput {
    width: 100%;
}
.hvr-forward {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
