@{ 
    string username = String.Empty;

    if (WebSecurity.IsAuthenticated)
    {
        username = WebSecurity.CurrentUserName;
    }else
    {
        username = "Guest";
    }
}

<ul class="nav navbar-nav currentUser">
    <li class="cU">Welcome, @username</li>
    @if (username == "Guest")
    {
        <li>@Html.ActionLink("Login", "Login", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink("Logout","Logout","Account")</li>
    }
</ul>