@model Store.Models.ProductModel

<h2>@Model.productName</h2>


@using (@Html.BeginForm("AddToCart","Checkout",new { id = Model.ID, price = Model.productPrice }, FormMethod.Post))
{
    <input type="number" name="qty"/>
    <input type="submit" value="Upload" />
}


