
@{
    ViewBag.Title = "LoggedIn";
    string usr = Session["Username"].ToString();
}

@if (Session["UserID"] != null)
{
    <h4>Welcome @usr</h4>

    @Html.ActionLink("Log Out", "LogOut", "Login");
}
