@model IEnumerable<Store.Models.ProductModel>

@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>

@*<div class="col-xs-12" ng-controller="myCont">
        <div class="col-md-4 prodListBox" ng-repeat="product in products">
            <img class="prodListImg" ng-src="{{product.images[0].img}}" />
            <h3>{{product.productName}}</h3>
            <div class="col-xs-6 text-left prodListPrice">{{product.productPrice | currency}}</div>
            <div class="col-xs-offset-2 col-xs-4 btn btn-primary text-right">@Html.ActionLink("Add to Cart", "Index", "Buy")</div>
        </div>     
</div>*@

@foreach (var m in Model)
{
    @Html.DisplayFor(modelItem => m.productName)
}

